# This will automatically clear logs at the start of every print
# Requires that the [gcode_shell_command] extension is installed viah KIAUH
# and this clearlogs.cfg is included in the included section in printer.cfg
#
# Ensure PATH below is correct for your user
#
# 25 Feb 2026

[gcode_shell_command clear_logs]
command: sh /home/pi/clear_logs.sh
timeout: 2.
verbose: True

[gcode_macro CLEAR_LOGS]
gcode:
    RUN_SHELL_COMMAND CMD=clear_logs