#  _   _                  _          _     
# | \ | |                (_)        | |    
# |  \| | ___  ___  _ __  ___  _____| |___ 
# | . ` |/ _ \/ _ \| '_ \| \ \/ / _ \ / __|
# | |\  |  __/ (_) | |_) | |>  <  __/ \__ \
# |_| \_|\___|\___/| .__/|_/_/\_\___|_|___/
#                  | |                     
#                  |_|                     
#
# Neopixels Configurations - Flsun Speeder Pad
#
# Guislain Cyril
[neopixel hotend_rgb]
pin: EBBCan:PD3
chain_count: 8                # Number of LEDs
color_order: GRB              # Color order
initial_RED: 0.2              # Initial red brightness
initial_GREEN: 0.2            # Initial green brightness
initial_BLUE: 0.2             # Initial blue brightness

[neopixel my_neopixel]
pin: PD15                     # Signal interface
chain_count: 32               # Number of LEDs
color_order: BRG              # Color order
initial_RED: 0.2              # Initial red brightness
initial_GREEN: 0.2            # Initial green brightness
initial_BLUE: 0.2             # Initial blue brightness

[neopixel afc_logo]
pin: Turtle_1:RGB2
chain_count: 21               # Number of LEDs
color_order: GRB              # Color order
initial_RED: 0.9              # Initial red brightness
initial_GREEN: 0.9            # Initial green brightness
initial_BLUE: 0.9             # Initial blue brightness

[led_effect panel_idle]
autostart:              true
frame_rate:             24
leds:
    neopixel:afc_logo
layers:
    breathing  10 1 top (.5,.5,1)


[gcode_macro STOP_LED]
gcode:
    STOP_LED_EFFECTS

[gcode_macro STOP_LED]
gcode:
    STOP_LED_EFFECTS

#[gcode_macro Rainbow_LED]
#gcode:
   # SET_LED_EFFECT EFFECT=rainbow

#[led_effect rainbow] 
#leds:    
  #neopixel:my_neopixel
#layers:
  #gradient 0.50 0.50 top (1,0,0),(0,1,0),(0,0,1) 
#frame_rate: 10

[led_effect extruder_temp]
leds:
    neopixel:my_neopixel
layers:
    heater 0.50 0.50 top (0.0,1.0,0.0),(1.0,0.0,0.0),(0.0,0.0,1.0)
frame_rate: 10
heater: extruder
autostart: true

[led_effect bed_heating]
leds:
    neopixel:my_neopixel
layers:
    heater 0.50 0.50 top (0.0,1.0,0.0),(1.0,0.0,0.0),(0.0,0.0,1.0)
frame_rate: 10
heater: heater_bed
autostart: true

[led_effect progress_bar]
leds:
    neopixel:my_neopixel
autostart: true
frame_rate: 10
layers:
    progress  -1  0 add         ( 0, 0,   1),( 0, 0.1, 0.6)
    static     0  0 top         ( 0, 0, 0.1)